@import "tailwindcss";

:root { color-scheme: dark; }

body {
  @apply bg-black text-white antialiased overflow-x-hidden;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar { display: none; }
